body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    flex-direction: column; /* Align items in a column */
}

.titulo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px; /* Space between title and drum kit */
}

.drum-kit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.playing {
    transform: scale(0.95);
    background-color: #777;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Add a more pronounced shadow on key press */
}

.drum {
    width: 120px; /* Increased width for better visual appeal */
    height: 120px; /* Increased height for better visual appeal */
    background-color: #555; /* Slightly lighter background color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Increased border-radius for smoother corners */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Enhanced shadow for better depth */
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s; /* Added transition for background color */
}

.drum:active {
    transform: scale(0.95);
    background-color: #777; /* Darker color on click */
}
